* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    padding: 8vh;
    text-align: center;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 20px;
    padding: 20px;
    width: 150px;
    font-size: 20px;
    border: none;
    background-color: rgb(69, 9, 126);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.game {
    margin: 50px;
    width: 60vh;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color: rgb(25, 226, 159);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    color: rgb(69, 9, 126);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-container {
    display: none;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 78vh;
}

.win {
    padding: 30px;
    height: 8vh;
    font-size: 50px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    z-index: 2;
}